@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<link rel="stylesheet" href="~/css/Index.css">

<div>
    <section class="content px-4">
        <section>
            <div>
                <h1>Foros</h1>
            </div>
            <section>
                <p style="font-size: 20px;">
                    Bienvenido a GithNik! este es un proyecto de indole escolar, por lo que todo es experimental y solo busca
                    mostrar las funcionalidades de las paginas Razor con un entorno de desarrollo como lo es Entity Framework
                    Core 5.0.2 para el desarrollo de sitios WEB.
                </p>
                <br/>
                <br/>
            </section>
        </section>
        @*<h1 class="display-4">Tus foros</h1>*@
        <section>
            <div class="row">
                <div class="col-12 col-md-6" style="border-bottom: groove;">
                    <div>
                        <h3>Tus Foros</h3>
                    </div>
                    @foreach(var item in Model.Foros)
                    {
                        <table class="forum-post-ul DivInicio">
                            <tr>
                                <td class="p-2">
                                    <div>
                                        @if (item.ForoPerfil == null)
                                        {

                                            <div class="LimitadorImagenes">
                                                <image class="HomeForosImagenes" src="https://www.bwikotamalang.net/assets/img/blank.jpg" alt=" Imagen de Foro"></image>
                                                <div class="ForosDatos">
                                                    <a class="ANombre" asp-page="./Foros/Details" asp-route-id="@item.ForoId">@Html.DisplayFor(modelItem => item.Nombre)<i class="PFecha">@Html.DisplayFor(model => item.Fecha)</i></a>
                                                </div>
                                            </div>
                                            <span class="fas text-orange" title="need"></span>
                                        }
                                        else
                                        {
                                            <div class="LimitadorImagenes">
                                                <image class="HomeForosImagenes" src="data:image;base64,@Convert.ToBase64String(item.ForoPerfil)" ></image>
                                                <div class="ForosDatos">
                                                    <a class="ANombre" asp-page="./Foros/Details" asp-route-id="@item.ForoId">@Html.DisplayFor(modelItem => item.Nombre)<i class="PFecha">@Html.DisplayFor(model => item.Fecha)</i></a>
                                                </div>
                                            </div>
                                            
                                        }
                                    </div>
                                <td />
                            </tr>
                                
                        </table>
                    }
                </div>
            </div>    
        </section>    
    </section>
    <section class="container-fluid px-4 mt-2">
        <div class="row">
            <div class="col-12">
                <div class="">
                    <p><i>Numero de Usuarios: </i></p>
                </div>
            </div>
        </div>
    </section>
</div>
