@page 
@model Foromanager.Pages.Foros.DeleteModel

@{
    ViewData["Title"] = "Eliminar Foro";
}
<head>
    <link rel="stylesheet" href="~/css/Foros/EliminarForos.css" />
</head>

<h1 class="MarginIzquierda">Eliminar @Html.DisplayFor(model => model.Foro.Nombre)</h1>

<h3 class="MarginIzquierda">Esta seguro que desea eliminarlo?</h3>

<div class="LimHr"><hr color="white" /></div>

<div class="MarginIzquierda">
    <dl class="row">
        <dt class="col-sm-2">
            <p>@Html.DisplayNameFor(model => model.Foro.Nombre):</p>
        </dt>
        <dd class="col-sm-10">
            <p>@Html.DisplayFor(model => model.Foro.Nombre)</p>
        </dd>
        <dt class="col-sm-2">
            <p>@Html.DisplayNameFor(model => model.Foro.Descripcion):</p>
        </dt>
        <dd class="col-sm-10">
            <p>@Html.DisplayFor(model => model.Foro.Descripcion)</p>
        </dd>
        <dt class="col-sm-2">
            <p>@Html.DisplayNameFor(model => model.Foro.Categorias):</p>
        </dt>
        <dd class="col-sm-10">
            <p>@Html.DisplayFor(model => model.Foro.Categorias)</p>
        </dd>
        <dt class="col-sm-2">
            <p>@Html.DisplayNameFor(model => model.Foro.Fecha):</p>
        </dt>
        <dd class="col-sm-10">
            <p>@Html.DisplayFor(model => model.Foro.Fecha)</p>
        </dd>
    </dl>

    <form method="post" class="MarginIzquierda">
        <input type="hidden" asp-for="Foro.ForoId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-page="./Index">Regresar</a>
    </form>
</div>
