@page
@model Foromanager.Pages.Foros.DetailsModel
@using Microsoft.AspNetCore.Identity
@using Foromanager.Pages.Foros
@using Foromanager.Models
@using Microsoft.EntityFrameworkCore
@inject UserManager<Usuario> UserManager
@inject ApplicationDbContext DbContext


@{ 
    ViewData["Title"] = "Detalles";
}

<head>
    <link rel="stylesheet" href="~/css/Foros/Details.css" />
    <link rel="stylesheet" href="~/css/Foros/BotonesForos.css" />
</head>


<div>
    <br />
    <div class="BannerCont">
        <div class="TituloForo"><h2>@Html.DisplayFor(model => model.Foro.Nombre)</h2></div>
        @if (Model.Foro.ForoPerfil == null)
         {
             <div class="BannerImage"><image class="Imagen-Banner" src="https://www.bwikotamalang.net/assets/img/blank.jpg" alt=" Imagen de Foro" ></image></div>
         }
         else
         {
             <div class="BannerImage"><image class="Imagen-Banner" src="data:image;base64,@Convert.ToBase64String(Model.Foro.ForoPerfil)"></image></div>
         }
    </div>
    
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

    @foreach (var item in Model.Foro.Publicaciones)
    {
        int Likes=0;
        int Dislikes=0;
        var Reacciones = await DbContext.Reaccion.Where(i=>i.PublicacionId == item.PublicacionId).ToListAsync();

        var imagenes = await DbContext.Imagenes.Where(i => i.PublicacionId == item.PublicacionId).ToListAsync();
        <br />
        <div class="DivNombreUsuario">
            <h3 class="NombreUsuario">@Html.DisplayFor(modelItem => item.Usuario):</h3>
        </div>
        <div>
            <input type="hidden" name="PublicacionId" value="@item.PublicacionId" />
            <input type="hidden" name="ForoId" value="@item.ForoId">
        </div>
        <div class="DivPublicaciones">
            <p class="TituloPublicacion">@Html.DisplayFor(modelItem => item.Titulo)</p>
            <p>@Html.DisplayFor(modelItem => item.Fecha)</p>
            <p class="ComentarioPublicacion">@Html.DisplayFor(modelItem => item.Descripcion)</p>
            <div class="DivImagen">
                @if (imagenes.Count > 0)
                {
                    <image class="ImagenPublicacion" src="data:image;base64,@Convert.ToBase64String(imagenes[0].Imagen)"></image>
                }
            </div>
            @if (item.Usuario == @User.Identity.Name)
             {
                <br />
                <p class="BotonesPublicaciones">
                    <a class="BorrarPublicacion" asp-page="../Publicaciones/Delete" asp-route-id="@item.PublicacionId">Borrar</a>
                    <a class="EditarPublicacion" asp-page="../Publicaciones/Edit" asp-route-id="@item.PublicacionId">Editar</a>
                </p>
             }
            @foreach(var reac in Reacciones)
            {
                if(reac.Like)
                {
                    Likes++;
                }
                else if(reac.DisLike)
                {
                    Dislikes++;
                }
            }
            <p>Likes: @Likes | Dislikes: @Dislikes</p>
            <form method="post">
                <div class="form-group">
                    <button type="submit" class="btn BotonForos" asp-for="@Model.Acciones" value="like">Like</button>
                    <button type="submit" class="btn BotonForos" asp-for="@Model.Acciones" value="dislike">DisLike</button>
                </div>
            </form>
        </div>
        Likes=0;
        Dislikes=0;
    }
    <br />
    <hr color="white" />
    <form enctype="multipart/form-data" class="col-sm-10 row-sm-10 FormCreacion" method="post">

        <dv class="CrearTitulo">
            <input asp-for="Publicacion.Titulo" class="form-control Titulo-input" type="text" placeholder="Titulo"></input>
            <span asp-validation-for="Publicacion.Titulo" class="text-danger Titulo-span"></span>
        </dv>

        <div class="CrearComentario">
            <textarea asp-for="Publicacion.Descripcion" rows="5" cols="40" class="Comentario-textarea" placeholder="Comentario"></textarea>
            <span asp-validation-for="Publicacion.Descripcion" class="text-danger Comentario-span"></span>
        </div>

        <div class="CrearImagen"><input asp-for="ImgCarga" type="file" name="imagen" /></div>

        <br />
        <div class="form-group">
            <button type="submit" class="btn BotonForos" asp-for="@Model.Acciones" value="postear">Publicar</button>
        </div>
    </form>
</div>

@if (Model.Foro.Status != ForumStatus.Aprobado)
{
    @if ((await AuthorizationService.AuthorizeAsync(User, Model.Foro, ForumOperations.Approve)).Succeeded)
    {
        <form style="display:inline;" method="post">
            <input type="hidden" name="id" value="@Model.Foro.ForoId" />
            <input type="hidden" name="status" value="@ForumStatus.Aprobado" />
            <button asp-for="@Model.Acciones" value="aprobar" type="submit" class="btn btn-xs btn-success">Aprobar</button>
        </form>
    }
}

@if (Model.Foro.Status != ForumStatus.Rechazado)
{
    @if ((await AuthorizationService.AuthorizeAsync(User, Model.Foro, ForumOperations.Reject)).Succeeded)
    {
        <form style="display:inline;" method="post">
            <input type="hidden" name="id" value="@Model.Foro.ForoId" />
            <input type="hidden" name="status" value="@ForumStatus.Rechazado" />
            <button asp-for="@Model.Acciones" value="descartar" type="submit" class="btn btn-xs btn-danger">Rechazar</button>
        </form>
    }
}