@page 
@model Foromanager.Pages.Foros.IndexModel
@{
    ViewData["Title"] = "Foros";
    var prevDisabled = !Model.Foros.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Foros.HasNextPage ? "disabled" : "";
}
<head>
    <link rel="stylesheet" href="~/css/Foros/ForosIndex.css" />
    <link rel="stylesheet" href="~/css/Foros/BotonesForos.css" />
</head>

<h1>Foros</h1>

<form asp-page="./Index" method="get" class="FormBuscador">
    <div class="form-actions no-color">
        <p>
            <h5>Encontrar por Nombre:</h5>
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <button type="submit" name="header_search_submit" class="button-reset Lupaboton db o-60 absolute center-v right-1 hover-primary6">
                <a class="lupa">
                    <i class="fas fa-redo-alt fa-search"></i>
                    <path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
                </a>
            </button>
            @*<input type="submit" value="" class="btn btn-primary buscador fas fa-search " />*@
            <a asp-page="./Index" class="reload"><i class="fas fa-redo-alt "></i></a>
        </p>
    </div>
</form>
<form asp-page="./Index" method="get" class="FormBuscador">
    <div class="form-actions no-color">
        <p>
            <h5>Encontrar por Categoria:</h5>
            <input type="text" name="CategoriaBusqueda"  />
            <button type="submit" name="header_search_submit" class="button-reset Lupaboton db o-60 absolute center-v right-1 hover-primary6">
                <a class="lupa">
                    <i class="fas fa-redo-alt fa-search"></i>
                    <path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
                </a>
            </button>
            @*<input type="submit" value="" class="btn btn-primary buscador fas fa-search " />*@
            <a asp-page="./Index" class="reload"><i class="fas fa-redo-alt "></i></a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th class="TdDatos">
                Imagen
            </th>
            <th class="TdDatos">
                <a class="DesaparecerDatos" asp-page="./Index" asp-route-sortOrder="@Model.NameSort">@Html.DisplayNameFor(model => model.Foros[0].Nombre)</a>
                <a class="DatosForosCel" asp-page="./Index" asp-route-sortOrder="@Model.NameSort">Foro</a>
            </th>
            <th class="TdDatos DesaparecerDatos">
                @Html.DisplayNameFor(model => model.Foros[0].Descripcion)
            </th>
            <th class="TdDatos DesaparecerDatos">
                <a class="DesaparecerDatos" asp-page="./Index" asp-route-sortOrder="@Model.CategoriaFiltro">@Html.DisplayNameFor(model => model.Foros[0].Categorias)</a>
            </th>
            <th class="TdDatos DesaparecerDatos">
                <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort">@Html.DisplayNameFor(model => model.Foros[0].Fecha)</a>
            </th>
            <th class="TdDatos DesaparecerDatos">
                Publicaciones
            </th>
            @*<th class="TdDatos DesaparecerDatos">
            Estado
        </th>*@
            <th class="opciones-especiales"><a asp-page="./Create" class="Cont-add"><i class="fas fa-plus Foroadd"></i></a></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Foros) {
            <tr>
                <td class="TdImagenes">
                    @if (item.ForoPerfil == null)
                    {
                        <a asp-page="./Details" asp-route-id="@item.ForoId"><image src="https://www.bwikotamalang.net/assets/img/blank.jpg" alt=" Imagen de Foro" class="ImagenForos"></image></a>
                    }
                    else
                    {
                        <a asp-page="./Details" asp-route-id="@item.ForoId"><image src="data:image;base64,@Convert.ToBase64String(item.ForoPerfil)" class="ImagenForos"></image></a>
                    }
                </td>
                <td class="TdDatos">
                    <div>
                        <a asp-page="./Details" asp-route-id="@item.ForoId">@Html.DisplayFor(modelItem => item.Nombre)</a>
                    </div>
                    
                    <div class="DatosForosCel">
                        @foreach (var cat in item.Categorias)
                        {
                            @Html.DisplayFor(modelItem => cat.CategoriaNombre) <blockquote> </blockquote>
                        }
                    </div>
                    <div class="DatosForosCel">
                        @item.Fecha.ToString("MM/dd/yyyy")
                    </div>
                </td>
                <td class="TdDatos DesaparecerDatos">
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>

                <td class="TdDatos DesaparecerDatos">
                    @foreach (var cat in item.Categorias)
                     {
                        @Html.DisplayFor(modelItem => cat.CategoriaNombre) <blockquote> </blockquote>
                     }
                </td>
                <td class="TdDatos DesaparecerDatos">
                    @item.Fecha.ToString("MM/dd/yyyy")
                </td>
                <td class="TdDatos DesaparecerDatos">
                    @Html.DisplayFor(modelItem => item.Publicaciones.Count)
                </td>
                @*<td class="TdDatos">
                        @Html.DisplayFor(modelItem => item.Status)
                  </td>*@
            <td class="opciones-especiales">
                @if ((await AuthorizationService.AuthorizeAsync(User, item, ForumOperations.Update)).Succeeded && Model.CurrentUserId == item.OwnerID)
                {
                    <a asp-page="./Edit" asp-route-id="@item.ForoId" class="EditarForo">Editar</a>
                    <blockquote> </blockquote>
                }
                @if ((await AuthorizationService.AuthorizeAsync(User, item, ForumOperations.Delete)).Succeeded && Model.CurrentUserId == item.OwnerID)
                {
                    <a asp-page="./Delete" asp-route-id="@item.ForoId" class="EliminarForo">Eliminar</a>
                }
            </td>
            </tr>
         }
    </tbody>

</table>

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Foros.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn mextprevious SiguienteAnterior @prevDisabled">
    Previo
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Foros.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn SiguienteAnterior @nextDisabled">
    Siguiente
</a>