@page
@model Foromanager.Pages.Foros.IndexModel
@{
    ViewData["Title"] = "Index";
    var prevDisabled = !Model.Foros.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Foros.HasNextPage ? "disabled" : "";
}
<head>
    <link rel="stylesheet" href="~/css/ForosIndex.css" />
</head>

<h1>Foros</h1>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Encontrar por nombre:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <button type="submit" name="header_search_submit" class="button-reset Lupaboton db o-60 absolute center-v right-1 hover-primary6">
                <a class="lupa">
                    <i class="fas fa-redo-alt fa-search"></i>
                    <path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
                </a>
            </button>
            @*<input type="submit" value="" class="btn btn-primary buscador fas fa-search " />*@
            <a asp-page="./Index" class="reload"><i class="fas fa-redo-alt "></i></a>
            <a asp-page="./Create" class="Cont-add"><i class="fas fa-plus-square Foroadd"></i></a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Foros[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foros[0].Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foros[0].Categorias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foros[0].Fecha)
            </th>
            <th>
                Publicaciones
            </th>
            <th>
                Estado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Foros) {
        <tr>
            <td>
                <a asp-page="./Details" asp-route-id="@item.ForoId">@Html.DisplayFor(modelItem => item.Nombre)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categorias.Count)
                @foreach(var cat in item.Categorias)
                {
                    @Html.DisplayFor(modelItem => cat.CategoriaNombre)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publicaciones.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @if((await AuthorizationService.AuthorizeAsync(User,item,ForumOperations.Update)).Succeeded && Model.CurrentUserId== item.OwnerID)
                {
                    <a asp-page="./Edit" asp-route-id="@item.ForoId">Edit</a>
                    <text> | </text>
                }
                @if((await AuthorizationService.AuthorizeAsync(User,item,ForumOperations.Delete)).Succeeded && Model.CurrentUserId== item.OwnerID)
                {
                    <a asp-page="./Delete" asp-route-id="@item.ForoId">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Foros.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    Previo
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Foros.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    Siguiente
</a>