@page
@model Foromanager.Pages.Publicaciones.DeleteModel

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Borrar</h1>

<h3>Estas seguro que quieres borrar esta publicacion?</h3>
<div>
    <hr style="background-color: white;" />
    <dl class="row">
        <dt class="col-sm-2">
            <p>@Html.DisplayNameFor(model => model.Publicacion.Usuario)</p>
        </dt>
        <dd class="col-sm-10">
            <p>@Html.DisplayFor(model => model.Publicacion.Usuario)</p>
        </dd>
        <dt class="col-sm-2">
            <p>@Html.DisplayNameFor(model => model.Publicacion.Titulo)</p>
        </dt>
        <dd class="col-sm-10">
            <p>@Html.DisplayFor(model => model.Publicacion.Titulo)</p>
        </dd>
        <dt class="col-sm-2">
            <p>@Html.DisplayNameFor(model => model.Publicacion.Descripcion)</p>
        </dt>
        <dd class="col-sm-10">
            <p>@Html.DisplayFor(model => model.Publicacion.Descripcion)</p>
        </dd>
        <dt class="col-sm-2">
            <p>@Html.DisplayNameFor(model => model.Publicacion.Foro)</p>
        </dt>
        <dd class="col-sm-10">
            <p>@Html.DisplayFor(model => model.Publicacion.Foro.ForoId)</p>
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Publicacion.PublicacionId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-page="../Foros/Index">Volver a la lista</a>
    </form>
</div>
