@page
@model Foromanager.Pages.Publicaciones.DeleteModel

@{
    ViewData["Title"] = "Eliminar";
}

<head>
    <link rel="stylesheet" href="~/css/Publicaciones/EliminaryEditar.css" />
</head>

<h1 class="Espaciado">Borrar</h1>

<h3 class="Espaciado">Estas seguro que quieres borrar esta publicacion?</h3>

<div class="LimHr"><hr color="white" /></div>

<div class="Espaciado">
    <dl class="row">
        <dt class="col-sm-2">
            <p>@Html.DisplayNameFor(model => model.Publicacion.Usuario)</p>
        </dt>
        <dd class="col-sm-10">
            <p>@Html.DisplayFor(model => model.Publicacion.Usuario)</p>
        </dd>
        <dt class="col-sm-2">
            <p>@Html.DisplayNameFor(model => model.Publicacion.Titulo)</p>
        </dt>
        <dd class="col-sm-10">
            <p>@Html.DisplayFor(model => model.Publicacion.Titulo)</p>
        </dd>
        <dt class="col-sm-2">
            <p>@Html.DisplayNameFor(model => model.Publicacion.Descripcion)</p>
        </dt>
        <dd class="col-sm-10">
            <p>@Html.DisplayFor(model => model.Publicacion.Descripcion)</p>
        </dd>
        <dt class="col-sm-2">
            <p>@Html.DisplayNameFor(model => model.Publicacion.Foro)</p>
        </dt>
        <dd class="col-sm-10">
            <p>@Html.DisplayFor(model => model.Publicacion.Foro.ForoId)</p>
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Publicacion.PublicacionId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a asp-page="../Foros/Index">Regresar</a>
    </form>
</div>
