@page
@model Foromanager.Pages.Publicaciones.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Publicacion</h4>
    <hr style="color: white"/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Publicacion.Usuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Publicacion.Usuario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Publicacion.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Publicacion.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Publicacion.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Publicacion.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Publicacion.Foro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Publicacion.Foro.ForoId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Publicacion.PublicacionId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
